<header>
  <h1>Question Period</h1>
</header>

<main>
  <p>A better way to ask &amp; answer</p>
  <form>
    <button class="create-session btn btn-primary btn-lg" type="submit">Create a session</button>
  </form>
</main>
